{% include 'users/navbar.html' %}
<div style="max-width: 400px; margin: 20px auto 0; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; text-align: center;">
    <h1 style="font-weight: bold;">Login</h1>
    <form method="POST">
        {% csrf_token %}
        
   
        <div style="margin-bottom: 10px;">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
    
        <div style="margin-bottom: 10px;">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        
        <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; cursor: pointer; margin-top: 10px;">Login</button>
        <a href="{% url 'signup' %}" style="display: block; margin-top: 10px; text-decoration: none; color: #007bff;">Don't have an account? Create one</a>
    </form>
</div>
