{% include 'users/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Job</title>
</head>
<body>
    <h1>Apply for Job</h1>
    <h1>Welcome, {{ user.userprofile.full_name }}</h1>
    <p>Job Title: {{ job.title }}</p>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Application</button>
    </form>
</body>
</html>
